
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!-- saved from url=(0034)http://www.tdnd.cn/forum-51-1.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <META content="IE=11.0000"
          http-equiv="X-UA-Compatible">

    <META http-equiv="Content-Type" content="text/html; charset=gbk">
    <TITLE>高考专版-中国农业大学论坛|天地农大BBS -  Powered by Discuz!</TITLE>
    <META name="keywords" content="高考专版 天地农大BBS 中国农业大学论坛 农大论坛 中国农大论坛 中国农业大学 东校区 西校区 中国农大考研论坛">
    <META name="description" content="中国农业大学最活跃的校园生活社区，中国农大学子交流互动平台，中国农业大学考研论坛，最新考研资讯，最全考研真题资料分享。 ">
    <META name="GENERATOR" content="MSHTML 11.00.10570.1001">
    <META name="author" content="Discuz! Team and Comsenz UI Team">
    <META name="copyright" content="2001-2017 Comsenz Inc.">
    <META name="MSSmartTagsPreventParsing" content="True">
    <META http-equiv="MSThemeCompatible" content="Yes">
    <LINK href="~/Content/Plate/style_1_common.css"
          rel="stylesheet" type="text/css">
    <LINK href="~/Content/Plate/style_1_forum_forumdisplay.css"
          rel="stylesheet" type="text/css">
    <SCRIPT type="text/javascript">var STYLEID = '1', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'l2X', charset = 'gbk', discuz_uid = '0', cookiepre = 'VvWM_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'login|newthread|reply', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovL3d3dy50ZG5kLmNuL2ZvcnVtLnBocD9tb2Q9Zm9ydW1kaXNwbGF5JmZpZD01MSZwYWdlPTEm', SITEURL = 'http://www.tdnd.cn/', JSPATH = 'data/cache/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</SCRIPT>

    <SCRIPT src="~/Content/Plate/common.js" type="text/javascript"></SCRIPT>

    <META name="application-name" content="中国农业大学论坛|天地农大BBS">
    <META name="msapplication-tooltip" content="中国农业大学论坛|天地农大BBS">
    <META name="msapplication-task" content="name=社区论坛;action-uri=http://www.tdnd.cn/forum.php;icon-uri=http://www.tdnd.cn/static/image/common/bbs.ico">
    <META name="msapplication-task" content="name=同道中人;action-uri=http://www.tdnd.cn/group.php;icon-uri=http://www.tdnd.cn/static/image/common/group.ico">
    <META name="msapplication-task" content="name=家园;action-uri=http://www.tdnd.cn/home.php;icon-uri=http://www.tdnd.cn/static/image/common/home.ico">
    <LINK title="中国农业大学论坛|天地农大BBS" href="http://www.tdnd.cn/archiver/" rel="archives">
    <LINK title="中国农业大学论坛|天地农大BBS - 高考专版-中国农业大学论坛|天地农大BBS" href="http://www.tdnd.cn/forum.php?mod=rss&amp;fid=51&amp;auth=0"
          rel="alternate" type="application/rss+xml">
    <SCRIPT src="~/Content/Plate/forum.js" type="text/javascript"></SCRIPT>
</HEAD>
<BODY class="pg_forumdisplay" id="nv_forum" onkeydown="if(event.keyCode==27) return false;">
    <DIV id="append_parent"></DIV>
    <DIV id="ajaxwaitid"></DIV>
    <DIV class="p_pop blk" id="qmenu_menu" style="display: none;">
        <DIV class="ptm pbw hm">
            请 <A class="xi2" onclick="lsSubmit()" href="javascript:;"><STRONG >登录</STRONG></A>
            后使用快捷导航<BR>没有帐号？<A class="xi2 xw1" onclick="location.href='/Login/index'">立即注册</A>
        </DIV>
        <DIV class="btda" id="fjump_menu"></DIV>
    </DIV>
    <DIV id="hd">
        <DIV class="wp">
            <DIV class="hdc cl">
                <img src="~/Content/B/123123123123.png" width="960" />
            </DIV>
            <DIV id="nv">
                <A id="qmenu" onmouseover="delayShow(this, function () {showMenu({'ctrlid':'qmenu','pos':'34!','ctrlclass':'a','duration':2});showForummenu();})"
                   href="javascript:;">快捷导航</A>
                <UL>
                    <LI class="a" id="mn_forum"><A title="BBS" hidefocus="true" href="http://www.tdnd.cn/forum.php">男生区<SPAN>BBS</SPAN></A></LI>
                    <LI id="mn_N67f5">
                        <A hidefocus="true"
                           href="http://www.tdnd.cn/home.php">女生区</A>
                    </LI>
                    <LI id="mn_Nb218"><A style="color: yellow;" hidefocus="true" href="http://www.tdnd.cn/forum-66-1.html">男女生区</A></LI>
                    <LI id="mn_N2be2">
                        <A style="color: orange; font-weight: bold;" hidefocus="true"
                           href="http://www.tdnd.cn/thread-21694-1-1.html">双人区</A>
                    </LI>
                    <LI id="mn_F113">
                        <A style="color: yellow; font-weight: bold;" hidefocus="true"
                           href="http://www.tdnd.cn/forum-117-1.html">单机游戏区</A>
                    </LI>
                    <LI id="mn_N55dd"><A hidefocus="true" href="http://www.tdnd.cn/thread-36965-1-1.html">帮助/导航</A></LI>
                </UL>
            </DIV>
            <DIV class="p_pop h_pop" id="mn_userapp_menu" style="display: none;"></DIV>

            <DIV class="scbar_narrow cl" id="scbar">
                <FORM id="scbar_form" onsubmit="searchFocus($('scbar_txt'))" action="search.php?searchsubmit=yes"
                      method="post" target="_blank" autocomplete="off">
                    <INPUT name="mod" id="scbar_mod" type="hidden" value="search">
                    <INPUT name="formhash" type="hidden" value="be2be25b">
                    <INPUT name="srchtype" type="hidden" value="title"> <INPUT name="srhfid" type="hidden" value="51">
                    <INPUT name="srhlocality" type="hidden" value="forum::forumdisplay">
                    <TABLE cellspacing="0" cellpadding="0">
                        <TBODY>
                            <TR>
                                <TD class="scbar_icon_td"></TD>
                                <TD class="scbar_txt_td">
                                    <INPUT name="srchtxt" id="scbar_txt" type="text" value="请输入搜索内容" autocomplete="off" speech="" x-webkit-speech="">
                                </TD>
                                <TD class="scbar_type_td">
                                    <A class="xg1" id="scbar_type" hidefocus="true"
                                       onclick="showMenu(this.id)" href="javascript:;">搜索</A>
                                </TD>
                                <TD class="scbar_btn_td">
                                    <BUTTON name="searchsubmit" class="pn pnc" id="scbar_btn"
                                            type="submit" value="true" sc="1">
                                        <STRONG class="xi2">搜索</STRONG>
                                    </BUTTON>
                                </TD>
                                <TD class="scbar_hot_td">
                                </TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </FORM>
            </DIV>
            <UL class="p_pop" id="scbar_type_menu" style="display: none;">
                <LI><A href="javascript:;" rel="curforum" fid="51">本版</A></LI>
                <LI><A class="curtype" href="javascript:;" rel="forum">帖子</A></LI>
                <LI><A href="javascript:;" rel="group">同道中人</A></LI>
                <LI><A href="javascript:;" rel="user">用户</A></LI>
            </UL>
            <SCRIPT type="text/javascript">
                initSearchmenu('scbar', '');
            </SCRIPT>
        </DIV>
    </DIV>
    <DIV class="wp" id="wp">
        <STYLE id="diy_style" type="text/css"></STYLE>
        <!--[diy=diynavtop]-->
        <DIV class="area" id="diynavtop"></DIV><!--[/diy]-->
        <DIV class="bm cl" id="pt">
            <DIV class="z">
                <A title="首页" class="nvhm"
                   href="http://www.tdnd.cn/">中国农业大学论坛|天地农大BBS</A><EM>&raquo;</EM><A href="http://www.tdnd.cn/forum.php">社区论坛</A>
                <EM>&#8250;</EM> <A href="http://www.tdnd.cn/forum.php?gid=1">★【人在农大】</A><EM>&#8250;</EM> <A href="http://www.tdnd.cn/forum-51-1.html">枪神纪专版</A>
            </DIV>
        </DIV>

        <DIV class="wp">
            <!--[diy=diy1]-->
            <DIV class="area" id="diy1"></DIV><!--[/diy]-->
        </DIV>
        <DIV class="boardnav">
            <DIV class="wp cl" id="ct" style="margin-left: 155px;">
                <DIV class="bdl" id="sd_bdl" style="width: 140px; margin-left: -155px;"
                     onmouseover="showMenu({'ctrlid':this.id, 'pos':'dz'});">
                    <!--[diy=diyleftsidetop]-->
                    <DIV class="area" id="diyleftsidetop">
                        <DIV class="frame move-span cl frame-1" id="frame88EwnM">
                            <DIV class="column frame-1-c" id="frame88EwnM_left">
                                <DIV class="move-span temp" id="frame88EwnM_left_temp"></DIV>
                            </DIV>
                        </DIV>
                    </DIV><!--[/diy]-->
                    <DIV class="tbn" id="forumleftside">
                        <H2 class="bdl_h">版块导航</H2>
                        <DL class="a" id="lf_1">
                            <DT><A title="★【人在农大】" hidefocus="true" onclick="leftside('lf_1')" href="javascript:;">★【人在农大】</A></DT>
                            <DD class="bdl_a">
                                <A title="枪神纪专版"
                                   href="http://www.tdnd.cn/forum-51-1.html">枪神纪专版</A>
                            </DD>
                            <DD><A title="初入农大" href="http://www.tdnd.cn/forum-44-1.html">初入农大</A></DD>
                            <DD><A title="校园资讯" href="http://www.tdnd.cn/forum-45-1.html">校园资讯</A></DD>
                            <DD><A title="同在异乡" href="http://www.tdnd.cn/forum-49-1.html">同在异乡</A></DD>
                        </DL>

                        <DL id="lf_113">
                            <DT>
                                <A title="★★【土地学人】——中国农业大学[中国土地政策与法律研究中心]" hidefocus="true" onclick="leftside('lf_113')"
                                   href="javascript:;">★★【土地学人】——中国农业大学[中国土地政策与法律研究中心]</A>
                            </DT>
                            <DD>
                                <A title="土地学人"
                                   href="http://www.tdnd.cn/forum-117-1.html">土地学人</A>
                            </DD>
                        </DL>

                        <DL id="lf_40">
                            <DT><A title="&#10004;【求职招聘】" hidefocus="true" onclick="leftside('lf_40')" href="javascript:;">&#10004;【求职招聘】</A></DT>
                            <DD><A title="求职招聘" href="http://www.tdnd.cn/forum-77-1.html">求职招聘</A></DD>
                            <DD><A title="兼职信息" href="http://www.tdnd.cn/forum-78-1.html">兼职信息</A></DD>
                            <DD>
                                <A title="公务员/村官"
                                   href="http://www.tdnd.cn/forum-80-1.html">公务员/村官</A>
                            </DD>
                        </DL>
                        <DL id="lf_42">
                            <DT><A title="【毕业之后】" hidefocus="true" onclick="leftside('lf_42')" href="javascript:;">【毕业之后】</A></DT>
                            <DD><A title="上班" href="http://www.tdnd.cn/forum-88-1.html">上班</A></DD>
                            <DD><A title="创业" href="http://www.tdnd.cn/forum-92-1.html">创业</A></DD>
                        </DL>
                        <DL id="lf_43">
                            <DT><A title="&#10033;【论坛事务】" hidefocus="true" onclick="leftside('lf_43')" href="javascript:;">&#10033;【论坛事务】</A></DT>
                            <DD><A title="站务管理" href="http://www.tdnd.cn/forum-93-1.html">站务管理</A></DD>
                            <DD>
                                <A title="每日签到"
                                   href="http://www.tdnd.cn/forum-94-1.html">每日签到</A>
                            </DD>
                        </DL>
                    </DIV><!--[diy=diyleftsidebottom]-->
                    <DIV class="area" id="diyleftsidebottom"></DIV><!--[/diy]-->
                </DIV>
                <DIV class="mn">
                    <DIV class="drag">
                        <!--[diy=diy4]-->
                        <DIV class="area" id="diy4"></DIV><!--[/diy]-->
                    </DIV>
                    <DIV class="bm bw0 pgs cl" id="pgt">
                        <SPAN id="fd_page_top"></SPAN> <SPAN class="pgb y"
                                                             id="visitedforums" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'34'})">
                            <A href="http://www.tdnd.cn/forum.php">返&nbsp;回</A>
                        </SPAN> <A title="发新帖" id="newspecial"
                                   onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"
                                    onclick="location.href='/Posts/CreatePost'"
                                   href="javascript:;"><IMG alt="发新帖" src="~/Content/Plate/pn_post.png"></A>
                    </DIV>
                    <DIV class="tl bm bmw" id="threadlist">
                        <DIV class="th">
                            <TABLE cellspacing="0" cellpadding="0">
                                <TBODY>
                                    <TR>
                                        <TH colspan="2">
                                            <DIV class="tf">
                                                <SPAN title="在新窗口中打开帖子" class="y" id="atarget" onclick="setatarget(1)">新窗</SPAN>
                                                <A class="showmenu xi2" id="filter_special" onclick="showMenu(this.id)"
                                                   href="javascript:;">全部主题</A>&nbsp;						<A class="xi2" href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=lastpost&amp;orderby=lastpost">最新</A>&nbsp;
                                                <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=heat&amp;orderby=heats">热门</A>&nbsp;
                                                <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=hot">热帖</A>&nbsp;
                                                <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=digest&amp;digest=1">精华</A>&nbsp;
                                                <A class="showmenu xi2" id="filter_dateline" onclick="showMenu(this.id)"
                                                   href="javascript:;">更多</A>&nbsp;<SPAN id="clearstickthread" style="display: none;">
                                                    <SPAN class="pipe">|</SPAN> <A title="显示置顶" class="xi2" onclick="clearStickThread()"
                                                                                   href="javascript:;">显示置顶</A>
                                                </SPAN>
                                            </DIV>
                                        </TH>
                                        <TD class="by">作者</TD>
                                        <TD class="num">回复/查看</TD>
                                        <TD class="by">最后发表</TD>
                                    </TR>
                                </TBODY>
                            </TABLE>
                        </DIV>
                        <DIV class="bm_c">
                            <SCRIPT type="text/javascript">var lasttime = 1575344104; var listcolspan = '5';</SCRIPT>

                            <DIV id="forumnew" style="display: none;"></DIV>
                            <FORM name="moderate" id="moderate" action="forum.php?mod=topicadmin&amp;action=moderate&amp;fid=51&amp;infloat=yes&amp;nopost=yes"
                                  method="post" autocomplete="off">
                                <INPUT name="formhash" type="hidden" value="be2be25b">
                                <INPUT name="listextra" type="hidden" value="page%3D1">
                                <TABLE id="threadlisttableid" cellspacing="0" cellpadding="0"
                                       summary="forum_51">
                                    <TBODY id="stickthread_21694">
                                        <TR>
                                            <TD class="icn">
                                                <A title="全局置顶主题 - 新窗口打开" href="http://www.tdnd.cn/thread-21694-1-1.html"
                                                   target="_blank"><IMG alt="全局置顶" src="~/Content/Plate/pin_3.gif"></A>
                                            </TD>
                                            <TH class="common">
                                                <A title="更多操作" class="showcontent y" id="content_21694"
                                                   onclick="CONTENT_TID='21694';CONTENT_ID='stickthread_21694';showMenu({'ctrlid':this.id,'menuid':'content_menu'})"
                                                   href="javascript:;"></A>
                                                <A title="隐藏置顶帖" class="showhide y" onclick="hideStickThread('21694')"
                                                                               href="javascript:void(0);">隐藏置顶帖</A>
                                                <A class="tdpre y" onclick="previewThread('21694', 'stickthread_21694');" href="javascript:void(0);">预览</A>  
                                                <A class="s xst" style="color: rgb(236, 18, 130); font-weight: bold; background-color: rgb(255, 255, 0);" onclick="atarget(this)" href="http://www.tdnd.cn/thread-21694-1-1.html">中国农业大学各学院考研群（QQ群+微信群）</A>
                                                
                                            </TH>
                                            <TD class="by">
                                                <CITE>
                                                    <A style="color: rgb(255, 0, 0);" href="http://www.tdnd.cn/space-uid-16.html"
                                                       c="1">张洁</A>
                                                </CITE><EM><SPAN>2012-3-1</SPAN></EM>
                                            </TD>
                                            <TD class="num"><A class="xi2" href="http://www.tdnd.cn/thread-21694-1-1.html">119</A><EM>137794</EM></TD>
                                            <TD class="by">
                                                <CITE>
                                                    <A href="http://www.tdnd.cn/space-username-%C0%EE%BC%D1%BC%D1.html"
                                                       c="1">李佳佳</A>
                                                </CITE><EM>
                                                    <A href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=21694&amp;goto=lastpost#lastpost">
                                                        2019-4-16
                                                        16:37
                                                    </A>
                                                </EM>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                    <TBODY id="stickthread_35305">
                                        <TR>
                                            <TD class="icn">
                                                <A title="全局置顶主题 - 新窗口打开" href="http://www.tdnd.cn/thread-35305-1-1.html"
                                                   target="_blank"><IMG alt="全局置顶" src="~/Content/Plate/pin_3.gif"></A>
                                            </TD>
                                            <TH class="common">
                                                <A title="更多操作" class="showcontent y" id="content_35305"
                                                   onclick="CONTENT_TID='35305';CONTENT_ID='stickthread_35305';showMenu({'ctrlid':this.id,'menuid':'content_menu'})"
                                                   href="javascript:;"></A> <A title="隐藏置顶帖" class="showhide y" onclick="hideStickThread('35305')"
                                                                               href="javascript:void(0);">隐藏置顶帖</A> <A class="tdpre y" onclick="previewThread('35305', 'stickthread_35305');"
                                                                                                                       href="javascript:void(0);">预览</A>  <A class="s xst" style="color: rgb(236, 18, 130); font-weight: bold; background-color: rgb(255, 255, 255);"
                                                                                                                                                             onclick="atarget(this)"
                                                                                                                                                             href="http://www.tdnd.cn/thread-35305-1-1.html">中国农业大学关于未举办任何考研辅导班的严正声明</A>
                                                <IMG align="absmiddle" alt="版主推荐" src="~/Content/Plate/008.small.gif"> <SPAN class="tps">
                                                    &nbsp;...<A href="http://www.tdnd.cn/thread-35305-2-1.html">2</A><A href="http://www.tdnd.cn/thread-35305-3-1.html">3</A>
                                                </SPAN>
                                            </TH>
                                            <TD class="by">
                                                <CITE>
                                                    <A style="color: rgb(255, 0, 0);" href="http://www.tdnd.cn/space-uid-1.html"
                                                       c="1">admin</A>
                                                </CITE><EM><SPAN>2012-6-21</SPAN></EM>
                                            </TD>
                                            <TD class="num"><A class="xi2" href="http://www.tdnd.cn/thread-35305-1-1.html">26</A><EM>74811</EM></TD>
                                            <TD class="by">
                                                <CITE>
                                                    <A href="http://www.tdnd.cn/space-username-fioashha.html"
                                                       c="1">fioashha</A>
                                                </CITE><EM>
                                                    <A href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=35305&amp;goto=lastpost#lastpost">
                                                        2017-10-30
                                                        17:18
                                                    </A>
                                                </EM>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                    <TBODY id="stickthread_39634">
                                        <TR>
                                            <TD class="icn">
                                                <A title="本版置顶主题 - 新窗口打开" href="http://www.tdnd.cn/thread-39634-1-1.html"
                                                   target="_blank"><IMG alt="本版置顶" src="~/Content/Plate/pin_1.gif"></A>
                                            </TD>
                                            <TH class="common">
                                                <A title="更多操作" class="showcontent y" id="content_39634"
                                                   onclick="CONTENT_TID='39634';CONTENT_ID='stickthread_39634';showMenu({'ctrlid':this.id,'menuid':'content_menu'})"
                                                   href="javascript:;"></A> <A title="隐藏置顶帖" class="showhide y" onclick="hideStickThread('39634')"
                                                                               href="javascript:void(0);">隐藏置顶帖</A> <A class="tdpre y" onclick="previewThread('39634', 'stickthread_39634');"
                                                                                                                       href="javascript:void(0);">预览</A>  <A class="s xst" style="color: rgb(238, 27, 46); font-weight: bold;"
                                                                                                                                                             onclick="atarget(this)"
                                                                                                                                                             href="http://www.tdnd.cn/thread-39634-1-1.html">中国农业大学2013考生群（本科）</A>
                                            </TH>
                                            <TD class="by">
                                                <CITE>
                                                    <A style="color: rgb(255, 0, 0);" href="http://www.tdnd.cn/space-uid-16.html"
                                                       c="1">张洁</A>
                                                </CITE><EM><SPAN>2013-6-11</SPAN></EM>
                                            </TD>
                                            <TD class="num"><A class="xi2" href="http://www.tdnd.cn/thread-39634-1-1.html">0</A><EM>7078</EM></TD>
                                            <TD class="by">
                                                <CITE>
                                                    <A href="http://www.tdnd.cn/space-username-%D5%C5%BD%E0.html"
                                                       c="1">张洁</A>
                                                </CITE><EM>
                                                    <A href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=39634&amp;goto=lastpost#lastpost">
                                                        2013-6-11
                                                        05:44
                                                    </A>
                                                </EM>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                    <TBODY id="separatorline">
                                        <TR class="ts">
                                            <TD>&nbsp;</TD>
                                            <TH>
                                                @*<A title="查看更新" class="forumrefresh" onclick="checkForumnew_btn('51')"
                                                   href="javascript:;">版块主题</A>*@
                                                <a onclick="location.href='/Posts/AddPost'" class="forumrefresh" href="javascript:;" >刷新</a>
                                            </TH>
                                            <TD>&nbsp;</TD>
                                            <TD>&nbsp;</TD>
                                            <TD>&nbsp;</TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </FORM>
                        </DIV>
                    </DIV>
                    <DIV class="p_pop" id="filter_special_menu" style="display: none;" change="location.href='forum.php?mod=forumdisplay&amp;fid=51&amp;filter='+$('filter_special').value">
                        <UL>
                            <LI><A href="http://www.tdnd.cn/forum-51-1.html">全部主题</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=specialtype&amp;specialtype=poll">投票</A></LI>
                        </UL>
                    </DIV>
                    <DIV class="p_pop" id="filter_reward_menu" style="display: none;" change="forum.php?mod=forumdisplay&amp;fid=51&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype='+$('filter_reward').value">
                        <UL>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=specialtype&amp;specialtype=reward">全部悬赏</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype=1">进行中</A></LI>
                        </UL>
                    </DIV>
                    <DIV class="p_pop" id="filter_dateline_menu" style="display: none;">
                        <UL class="pop_moremenu">
                            <LI>
                                排序:  <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=author&amp;orderby=dateline">发帖时间</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=reply&amp;orderby=replies">回复/查看</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=reply&amp;orderby=views">查看</A>
                            </LI>
                            <LI>
                                时间:  <A class="xw1" href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline">全部时间</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=86400">一天</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=172800">两天</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=604800">一周</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=2592000">一个月</A><SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=7948800">三个月</A>
                            </LI>
                        </UL>
                    </DIV>
                    <DIV class="p_pop" id="filter_orderby_menu" style="display: none;">
                        <UL>
                            <LI><A href="http://www.tdnd.cn/forum-51-1.html">默认排序</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=author&amp;orderby=dateline">发帖时间</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=reply&amp;orderby=replies">回复/查看</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=reply&amp;orderby=views">查看</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=lastpost&amp;orderby=lastpost">最后发表</A></LI>
                            <LI><A href="http://www.tdnd.cn/forum.php?mod=forumdisplay&amp;fid=51&amp;filter=heat&amp;orderby=heats">热门</A></LI>
                        </UL>
                    </DIV>
                    <DIV class="bm bw0 pgs cl">
                        <SPAN id="fd_page_bottom"></SPAN> <SPAN class="pgb y"
                                                                id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})">
                            <A href="http://www.tdnd.cn/forum.php">返&nbsp;回</A>
                        </SPAN> <A title="去新帖" id="newspecialtmp"
                                   onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"
                                   onclick="location.href='/Posts/CreatePost'"
                                   href="javascript:;"><IMG alt="去发帖" src="~/Content/Plate/pn_post.png"></A>
                    </DIV><!--[diy=diyfastposttop]-->
                    <DIV class="area" id="diyfastposttop"></DIV><!--[/diy]-->
                    <SCRIPT type="text/javascript">
                        var postminchars = parseInt('10');
                        var postmaxchars = parseInt('10000');
                        var disablepostctrl = parseInt('1');
                        var fid = parseInt('51');
                    </SCRIPT>

                    

                        
                    <DIV class="area" id="diyforumdisplaybottom"></DIV><!--[/diy]-->
                </DIV>
            </DIV>
        </DIV>
        <DIV class="p_pop blk cl" id="visitedforums_menu" style="display: none;">
            <TABLE cellspacing="0" cellpadding="0">
                <TBODY>
                    <TR>
                        <TD id="v_forums">
                            <H3 class="mbn pbn bbda xg1">浏览过的版块</H3>
                            <UL class="xl xl1">
                                <LI><A href="http://www.tdnd.cn/forum-88-1.html">上班</A></LI>
                                <LI><A href="http://www.tdnd.cn/forum-77-1.html">求职招聘</A></LI>
                                <LI><A href="http://www.tdnd.cn/forum-66-1.html">考研</A></LI>
                                <LI>
                                    <A href="http://www.tdnd.cn/forum-44-1.html">初入农大</A>
                                </LI>
                            </UL>
                        </TD>
                    </TR>
                </TBODY>
            </TABLE>
        </DIV>
        <SCRIPT type="text/javascript">document.onkeyup = function (e) { keyPageScroll(e, 0, 0, 'forum.php?mod=forumdisplay&fid=51&filter=&orderby=lastpost&', 1); }</SCRIPT>

        <SCRIPT type="text/javascript">checkForumnew_handle = setTimeout(function () { checkForumnew(51, lasttime); }, checkForumtimeout);</SCRIPT>

        <DIV class="wp mtn">
            <!--[diy=diy3]-->
            <DIV class="area" id="diy3"></DIV><!--[/diy]-->
        </DIV>
        <SCRIPT>fixed_top_nv();</SCRIPT>
    </DIV>

    <DIV class="a_cn">
        <P class="close" id="ad_corner_close" onclick="setcookie('adclose_57', 1, 86400);this.parentNode.style.display='none'">
        </P><A href="http://www.tdnd.cn/forum.php"
               target="_blank">
        </A>
    </DIV>
    <DIV class="wp cl" id="ft">
        <DIV class="y" id="flk">
            <P>
                <A title="QQ" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690642617&amp;site=中国农业大学论坛|天地农大BBS&amp;menu=yes&amp;from=discuz"
                   target="_blank"><IMG alt="QQ" src="~/Content/Plate/site_qq.jpg"></A><SPAN class="pipe">|</SPAN><STRONG>
                    <A href="http://www.tdnd.cn/" target="_blank">GameLife_BBS</A>
                </STRONG>
            </P>
            <P class="xs0">
                GMT+8, 2019-12-3 11:35<SPAN id="debuginfo">
                    , Processed in
                    0.949314 second(s), 16 queries .
                </SPAN>
            </P>
        </DIV>
        <DIV id="frt">
            <P>
                Powered by <STRONG>
                    <A href="http://www.discuz.net/"
                       target="_blank">Discuz!</A>
                </STRONG> <EM>X3.4</EM>
            </P>
            <P class="xs0">
                &copy; 2001-2017 <A href="http://www.comsenz.com/"
                                    target="_blank">Comsenz Inc.</A>
            </P>
        </DIV>
    </DIV>
    <DIV id="scrolltop">
        <SPAN hidefocus="true">
            <A title="返回顶部" class="scrolltopa"
               onclick="window.scrollTo('0','0')"><B>返回顶部</B></A>
        </SPAN> <SPAN>
            <A title="返回版块"
               class="returnboard" hidefocus="true"
               href="http://www.tdnd.cn/forum.php"><B>返回版块</B></A>
        </SPAN>
    </DIV>
    <SCRIPT type="text/javascript">_attachEvent(window, 'scroll', function () { showTopLink(); }); checkBlind();</SCRIPT>
</BODY>
</HTML>
