
@{
    Layout = null;
}
@model List<ModelInfo.PostsInfo>
<script src="~/Content/B/common.js"></script>
<SCRIPT src="~/Content/B/common.js" type="text/javascript"></SCRIPT>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<!-- saved from url=(0041)http://www.tdnd.cn/thread-218550-1-1.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <META content="IE=11.0000"
          http-equiv="X-UA-Compatible">

    <META http-equiv="Content-Type" content="text/html; charset=gbk">
    <TITLE>霍夫变换回到昆明|好客游戏BBS -  Powered by Discuz!</TITLE>
    <LINK href="http://www.tdnd.cn/thread-218550-1-1.html " rel="canonical">
    <META name="keywords" content="高考专版 天地农大BBS 中国农业大学论坛 农大论坛 中国农大论坛 中国农业大学 东校区 西校区 中国农大考研论坛">
    <META name="description" content="中国农业大学最活跃的校园生活社区，中国农大学子交流互动平台，中国农业大学考研论坛，最新考研资讯，最全考研真题资料分享。 ">
    <META name="GENERATOR" content="MSHTML 11.00.10570.1001">
    <META name="author" content="Discuz! Team and Comsenz UI Team">
    <META name="copyright" content="2001-2017 Comsenz Inc.">
    <META name="MSSmartTagsPreventParsing" content="True">
    <META http-equiv="MSThemeCompatible" content="Yes">
    <LINK href="~/Content/B/style_1_common.css"
          rel="stylesheet" type="text/css">
    <LINK href="~/Content/B/style_1_forum_viewthread.css"
          rel="stylesheet" type="text/css">
    <SCRIPT type="text/javascript">var STYLEID = '1', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'l2X', charset = 'gbk', discuz_uid = '0', cookiepre = 'VvWM_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'login|newthread|reply', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovL3d3dy50ZG5kLmNuL2ZvcnVtLnBocD9tb2Q9dmlld3RocmVhZCZ0aWQ9MjE4NTUwJmV4dHJhPXBhZ2UlM0QxJnBhZ2U9MSY=', SITEURL = 'http://www.tdnd.cn/', JSPATH = 'data/cache/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</SCRIPT>

    <SCRIPT src="~/Content/B/common.js" type="text/javascript"></SCRIPT>

    <META name="application-name" content="中国农业大学论坛|天地农大BBS">
    <META name="msapplication-tooltip" content="中国农业大学论坛|天地农大BBS">
    <META name="msapplication-task" content="name=社区论坛;action-uri=http://www.tdnd.cn/forum.php;icon-uri=http://www.tdnd.cn/static/image/common/bbs.ico">
    <META name="msapplication-task" content="name=同道中人;action-uri=http://www.tdnd.cn/group.php;icon-uri=http://www.tdnd.cn/static/image/common/group.ico">
    <META name="msapplication-task" content="name=家园;action-uri=http://www.tdnd.cn/home.php;icon-uri=http://www.tdnd.cn/static/image/common/home.ico">
    <LINK title="中国农业大学论坛|天地农大BBS" href="http://www.tdnd.cn/archiver/" rel="archives">
    <SCRIPT src="~/Content/B/forum.js" type="text/javascript"></SCRIPT>
</HEAD>
<BODY class="pg_viewthread" id="nv_forum" onkeydown="if(event.keyCode==27) return false;">
    <DIV id="append_parent"></DIV>
    <DIV id="ajaxwaitid"></DIV>
    <DIV class="cl" id="toptb">
        <DIV class="wp">
            <DIV class="z">
                <A style="color: red; font-weight: bold;" href="http://clpl.cau.edu.cn/"
                   target="_blank">中国农业大学/中国土地政策与法律研究中心</A>
            </DIV>
            <DIV class="y">
                <A title="开启辅助访问" class="switchblind" id="switchblind" onclick="toggleBlind(this)"
                   href="javascript:;">开启辅助访问</A> <A title="切换到宽版" class="switchwidth" id="switchwidth"
                                                     onclick="widthauto(this)" href="javascript:;">切换到宽版</A>
            </DIV>
        </DIV>
    </DIV>
    <DIV class="p_pop blk" id="qmenu_menu" style="display: none;">
        <DIV class="ptm pbw hm">
            请 <A class="xi2" onclick="lsSubmit()" href="javascript:;"><STRONG>登录</STRONG></A>
            后使用快捷导航<BR>没有帐号？<A class="xi2 xw1" href="http://www.tdnd.cn/member.php?mod=register">立即注册</A>
        </DIV>
        <DIV class="btda" id="fjump_menu"></DIV>
    </DIV>
    <DIV id="hd">
        <DIV class="wp">
            <DIV class="hdc cl">
                <H2>
                    <A title="中国农业大学论坛|天地农大BBS" href="http://www.tdnd.cn/">
                        <img src="~/Content/Plate/QQ图片20191204104950.png" width="960" height="386" />
                    </A>
                </H2>
                <SCRIPT src="~/Content/B/logging.js" type="text/javascript"></SCRIPT>
            </DIV>
            <DIV id="nv">
                <A id="qmenu" onmouseover="delayShow(this, function () {showMenu({'ctrlid':'qmenu','pos':'34!','ctrlclass':'a','duration':2});showForummenu();})"
                   href="javascript:;">快捷导航</A>
                <UL>
                    <LI class="a" id="mn_forum"><A title="BBS" hidefocus="true" href="http://www.tdnd.cn/forum.php">男生区<SPAN>BBS</SPAN></A></LI>
                    <LI id="mn_N67f5">
                        <A hidefocus="true"
                           href="http://www.tdnd.cn/home.php">女生区</A>
                    </LI>
                    <LI id="mn_Nb218"><A style="color: yellow;" hidefocus="true" href="http://www.tdnd.cn/forum-66-1.html">男女生区</A></LI>
                    <LI id="mn_N2be2">
                        <A style="color: orange; font-weight: bold;" hidefocus="true"
                           href="http://www.tdnd.cn/thread-21694-1-1.html">双人区</A>
                    </LI>
                    <LI id="mn_F113">
                        <A style="color: yellow; font-weight: bold;" hidefocus="true"
                           href="http://www.tdnd.cn/forum-117-1.html">单机游戏区</A>
                    </LI>
                    <LI id="mn_N55dd"><A hidefocus="true" href="http://www.tdnd.cn/thread-36965-1-1.html">帮助/导航</A></LI>
                </UL>
            </DIV>
            <DIV class="p_pop h_pop" id="mn_userapp_menu" style="display: none;"></DIV>
            <DIV class="cl" id="mu"></DIV>
            <DIV class="scbar_narrow cl" id="scbar">
                <FORM id="scbar_form" onsubmit="searchFocus($('scbar_txt'))" action="search.php?searchsubmit=yes"
                      method="post" target="_blank" autocomplete="off">
                    <INPUT name="mod" id="scbar_mod" type="hidden" value="search">
                    <INPUT name="formhash" type="hidden" value="be2be25b">
                    <INPUT name="srchtype" type="hidden" value="title"> <INPUT name="srhfid" type="hidden" value="51">
                    <INPUT name="srhlocality" type="hidden" value="forum::viewthread">
                    <TABLE cellspacing="0" cellpadding="0">
                        <TBODY>
                            <TR>
                                <TD class="scbar_icon_td"></TD>
                                <TD class="scbar_txt_td">
                                    <INPUT name="srchtxt" id="scbar_txt" type="text" value="请输入搜索内容" autocomplete="off" speech="" x-webkit-speech="">
                                </TD>
                                <TD class="scbar_type_td">
                                    <A class="xg1" id="scbar_type" hidefocus="true"
                                       onclick="showMenu(this.id)" href="javascript:;">搜索</A>
                                </TD>
                                <TD class="scbar_btn_td">
                                    <BUTTON name="searchsubmit" class="pn pnc" id="scbar_btn"
                                            type="submit" value="true" sc="1">
                                        <STRONG class="xi2">搜索</STRONG>
                                    </BUTTON>
                                </TD>
                                <TD class="scbar_hot_td">
                                    <DIV id="scbar_hot">
                                        <STRONG class="xw1">热搜: </STRONG>
                                        <A class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">英雄皮肤</A>
                                        <A class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%C9%FA%CE%EF%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">英雄装备</A>
                                        <A class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%D6%B2%CE%EF%B1%A3%BB%A4&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">最新战绩</A>
                                        <A class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=806%C9%FA%CE%EF%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">打野内战</A>
                                        <A class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%CA%B3%C6%B7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">佐伊</A>

                                    </DIV>
                                </TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </FORM>
            </DIV>
            <UL class="p_pop" id="scbar_type_menu" style="display: none;">
                <LI><A href="javascript:;" rel="curforum" fid="51">本版</A></LI>
                <LI><A class="curtype" href="javascript:;" rel="forum">帖子</A></LI>
                <LI><A href="javascript:;" rel="group">同道中人</A></LI>
                <LI><A href="javascript:;" rel="user">用户</A></LI>
            </UL>
            <SCRIPT type="text/javascript">
                initSearchmenu('scbar', '');
            </SCRIPT>
        </DIV>
    </DIV>
    <DIV class="wp" id="wp">
        <SCRIPT type="text/javascript">var fid = parseInt('51'), tid = parseInt('218550');</SCRIPT>

        <SCRIPT src="~/Content/B/forum_viewthread.js" type="text/javascript"></SCRIPT>

        <SCRIPT type="text/javascript">zoomstatus = parseInt(1); var imagemaxwidth = '600'; var aimgcount = new Array();</SCRIPT>

        <STYLE id="diy_style" type="text/css"></STYLE>
        <!--[diy=diynavtop]-->
        <DIV class="area" id="diynavtop"></DIV><!--[/diy]-->
        <DIV class="bm cl" id="pt">
            <DIV class="z">
                <A title="首页" class="nvhm"
                   href="http://www.tdnd.cn/">中国农业大学论坛|天地农大BBS</A><EM>&raquo;</EM><A href="http://www.tdnd.cn/forum.php">社区论坛</A>
                <EM>&#8250;</EM> <A href="http://www.tdnd.cn/forum.php?gid=1">★【人在农大】</A> <EM>&#8250;</EM>
                <A href="http://www.tdnd.cn/forum-51-1.html">高考专版</A> <EM>&#8250;</EM> <A href="http://www.tdnd.cn/thread-218550-1-1.html">雅思、托福一对一辅导</A>
            </DIV>
        </DIV>


        <DIV class="wp">
            <!--[diy=diy1]-->

        </DIV>
        <DIV class="wp cl" id="ct">
            <DIV class="pgs mbm cl " id="pgt">
                <DIV class="pgt"></DIV><SPAN class="y pgb" id="visitedforums" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'34'})">
                    <A href="http://www.tdnd.cn/forum-51-1.html">返回列表</A>
                </SPAN> <A title="发新帖" id="newspecial"
                           onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"
                           onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=51')"
                           href="javascript:;"><IMG alt="发新帖" onclick="location.href='/Posts/AddPost'" src="~/Content/B/pn_post.png"></A>
            </DIV>
            <DIV class="pl bm" id="postlist">
                <TABLE cellspacing="0" cellpadding="0">
                    <TBODY>
                        <TR>
                            <TD class="pls ptn pbn">
                                <DIV class="hm ptn">
                                    <SPAN class="xg1">查看:</SPAN> <SPAN class="xi1">258</SPAN><SPAN class="pipe">|</SPAN><SPAN class="xg1">回复:</SPAN> <SPAN class="xi1">0</SPAN>
                                </DIV>
                            </TD>
                            <TD class="plc ptm pbn vwthd">
                                <DIV class="y">
                                    <A title="打印" href="http://www.tdnd.cn/forum.php?mod=viewthread&amp;action=printable&amp;tid=218550"
                                       target="_blank"><IMG class="vm" alt="打印" src="~/Content/B/print.png"></A>
                                    <A title="上一主题" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;goto=nextoldset&amp;tid=218550">
                                        <IMG class="vm" alt="上一主题" src="~/Content/B/thread-prev.png">
                                    </A> <A title="下一主题"
                                            href="http://www.tdnd.cn/forum.php?mod=redirect&amp;goto=nextnewset&amp;tid=218550">
                                        <IMG class="vm" alt="下一主题" src="~/Content/B/thread-next.png">
                                    </A>
                                </DIV>
                                <H1 class="ts"><SPAN id="thread_subject">GameLife</SPAN> </H1> <SPAN class="xg1">
                                    <A onclick="return copyThreadUrl(this, 'GameLife')"
                                       href="http://www.tdnd.cn/thread-218550-1-1.html">[复制链接]</A>
                                </SPAN>
                            </TD>
                        </TR>
                    </TBODY>
                </TABLE>
                <TABLE class="ad" cellspacing="0" cellpadding="0">
                    <TBODY>
                        <TR>
                            <TD class="pls"></TD>
                            <TD class="plc"></TD>
                        </TR>
                    </TBODY>
                </TABLE>
                <DIV id="post_371067">
                    <TABLE class="plhin" id="pid371067" cellspacing="0" cellpadding="0" summary="pid371067">
                        <TBODY>
                            <TR>
                                <TD class="pls" rowspan="2">
                                    <DIV class="pls favatar" id="favatar371067">
                                        <A name="lastpost"></A>
                                        <DIV class="pi">
                                            <DIV class="authi">
                                                <A class="xw1" href="http://www.tdnd.cn/space-uid-60038.html"
                                                   target="_blank">juhyyt</A>
                                            </DIV>
                                        </DIV>
                                        <DIV class="p_pop blk bui card_gender_" id="userinfo371067" style="margin-top: -11px; display: none;">
                                            <DIV class="m z">
                                                <DIV id="userinfo371067_ma"></DIV>
                                            </DIV>
                                            <DIV class="i y">
                                                <DIV>
                                                    <STRONG>
                                                        <A class="xi2" href="http://www.tdnd.cn/space-uid-60038.html"
                                                           target="_blank">juhyyt</A>
                                                    </STRONG> <EM>当前离线</EM>
                                                </DIV>
                                                <DT>个人主页</DT>
                                                <DD><A href="http://www.tdnd.cn/" target="_blank"></A></DD>
                                                <DT>日志</DT>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/home.php?mod=space&amp;uid=60038&amp;do=blog&amp;view=me&amp;from=space"
                                                       target="_blank"></A>
                                                </DD>
                                                <DT>相册</DT>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/home.php?mod=space&amp;uid=60038&amp;do=album&amp;view=me&amp;from=space"
                                                       target="_blank"></A>
                                                </DD>
                                                <P>
                                                    <SPAN id="g_up371067" onmouseover="showMenu({'ctrlid':this.id, 'pos':'12!'});">
                                                        <IMG alt="Rank: 2" src="~/Content/B/star_level2.gif">
                                                    </SPAN>
                                                </P>
                                                <DIV class="tip tip_4" id="g_up371067_menu" style="display: none;">
                                                    <DIV class="tip_horn"></DIV>
                                                    <DIV class="tip_c">注册会员, 积分 171, 距离下一级还需 29 积分</DIV>
                                                </DIV>
                                                <DL class="cl">
                                                    <DT>积分</DT>
                                                    <DD>
                                                        <A class="xi2" href="http://www.tdnd.cn/home.php?mod=space&amp;uid=60038&amp;do=profile"
                                                           target="_blank">171</A>
                                                    </DD>
                                                </DL>
                                                <DIV class="imicn">
                                                    <A title="查看详细资料" href="http://www.tdnd.cn/home.php?mod=space&amp;uid=60038&amp;do=profile"
                                                       target="_blank"><IMG alt="查看详细资料" src="~/Content/B/userinfo.gif"></A>
                                                </DIV>
                                                <DIV id="avatarfeed"><SPAN id="threadsortswait"></SPAN></DIV>
                                            </DIV>
                                        </DIV>
                                        <DIV>
                                            <DIV class="avatar">
                                                <A class="avtm" href="http://www.tdnd.cn/space-uid-60038.html"
                                                   target="_blank">
                                                    <img src="~/Content/B/微信图片_20190715151718.jpg" />
                                                </A>
                                            </DIV>
                                        </DIV>
                                    </DIV>
                                </TD>
                                <TD class="plc">
                                    <DIV class="pi">
                                        <DIV class="y" id="fj">
                                            <LABEL class="z">电梯直达</LABEL> <INPUT title="跳转到指定楼层" class="px p_fre z" onkeydown="if(event.keyCode==13) {window.location=$('fj_btn').href;return false;}" onkeyup="$('fj_btn').href='forum.php?mod=redirect&amp;ptid=218550&amp;authorid=0&amp;postno='+this.value" type="text" size="2">
                                            <A title="跳转到指定楼层" class="z" id="fj_btn" href="javascript:;">
                                                <IMG class="vm"
                                                     alt="跳转到指定楼层" src="~/Content/B/fj_btn.png">
                                            </A>
                                        </DIV><STRONG>
                                            <A id="postnum371067"
                                               onclick="setCopy(this.href, '帖子地址复制成功');return false;" href="http://www.tdnd.cn/thread-218550-1-1.html">楼主</A>
                                        </STRONG>
                                        <DIV class="pti">
                                            <DIV class="pdbt"></DIV>
                                            <DIV class="authi">
                                                <IMG class="authicn vm" id="authicon371067" src="~/Content/B/online_member.gif">
                                                <EM id="authorposton371067">发表于 2018-1-10 18:23:34</EM> <SPAN class="pipe">|</SPAN> <A href="http://www.tdnd.cn/forum.php?mod=viewthread&amp;tid=218550&amp;page=1&amp;authorid=60038"
                                                                                                                                       rel="nofollow">只看该作者</A> <SPAN class="none">
                                                    <IMG class="vm" alt="回帖奖励"
                                                         src="~/Content/B/arw_r.gif">
                                                </SPAN> <SPAN class="pipe show">|</SPAN><A class="show" href="http://www.tdnd.cn/forum.php?mod=viewthread&amp;tid=218550&amp;extra=page%3D1&amp;ordertype=1">倒序浏览</A>
                                                <SPAN class="pipe show">|</SPAN><A class="show" onclick="readmode($('thread_subject').innerHTML, 371067);"
                                                                                   href="javascript:;">阅读模式</A>
                                            </DIV>
                                        </DIV>
                                    </DIV>
                                    <DIV class="pct">
                                        <STYLE type="text/css">
                                            .pcb {
                                                margin-right: 0
                                            }
                                        </STYLE>

                                        <DIV class="pcb">
                                            <DIV class="t_fsz">
                                                <TABLE cellspacing="0" cellpadding="0">
                                                    <TBODY>
                                                        <TR>
                                                            <TD class="t_f" id="postmessage_371067">
                                                                <DIV class="a_pr" style="width: auto; margin-left: 10px;">
                                                                    <SCRIPT src="~/Content/B/crystal2.js"></SCRIPT>

                                                                    <SCRIPT type="text/javascript">crystal2.addStaticSlot({ id: 'discuz_5909081_017', width:, height:});</SCRIPT>
                                                                </DIV>　<h1>MLX退役</h1>　<br><br>
                                                                            <table>
                                                                                <thead>
                                                                                    <tr>
                                                                                        <td>ID</td>
                                                                                        <td>标题</td>
                                                                                        <td>内容</td>
                                                                                        <td>发布时间</td>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var m in Model)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@m.PId</td>
                                                                                            <td>@m.PTitle</td>
                                                                                            <td>@m.PContent</td>
                                                                                            <td>@m.CreateDate</td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                            </TD>
                                                        </TR>
                                                    </TBODY>
                                                </TABLE>
                                            </DIV>
                                            <DIV class="cm" id="comment_371067"></DIV>
                                            <DIV id="post_rate_div_371067"></DIV>
                                        </DIV>
                                    </DIV>
                                </TD>
                            </TR>
                            <TR>
                                <TD class="plc plm">
                                    <DIV class="mtw mbm hm cl" id="p_btn">
                                        <DIV class="tshare cl">
                                            <B>分享到:&nbsp;</B> <A title="QQ好友和群" id="k_share_to_qq"
                                                                 href="http://www.tdnd.cn/home.php?mod=spacecp&amp;ac=plugin&amp;id=qqconnect:spacecp&amp;pluginop=share&amp;sh_type=4&amp;thread_id=218550"
                                                                 target="_blank">
                                                <I>
                                                    <IMG alt="QQ好友和群"
                                                         src="~/Content/B/qq_share.png">QQ好友和群
                                                </I>
                                            </A>
                                        </DIV><A title="收藏本帖" id="k_favorite"
                                                 onmouseover="this.title = $('favoritenumber').innerHTML + ' 人收藏'" onclick="showWindow(this.id, this.href, 'get', 0);"
                                                 href="http://www.tdnd.cn/home.php?mod=spacecp&amp;ac=favorite&amp;type=thread&amp;id=218550&amp;formhash=be2be25b">
                                            <I>
                                                <IMG alt="收藏" src="~/Content/B/fav.gif">收藏<SPAN id="favoritenumber" style="display: none;">0</SPAN>
                                            </I>
                                        </A>
                                        <A title="转播求扩散" class="followp" onclick="showWindow('relaythread', this.href, 'get', 0);"
                                           href="http://www.tdnd.cn/home.php?mod=spacecp&amp;ac=follow&amp;op=relay&amp;tid=218550&amp;from=forum">
                                            <I>
                                                <IMG alt="转播" src="~/Content/B/rt.png">转播
                                            </I>
                                        </A> <A title="分享推精华" class="sharep"
                                                onclick="showWindow('sharethread', this.href, 'get', 0);" href="http://www.tdnd.cn/home.php?mod=spacecp&amp;ac=share&amp;type=thread&amp;id=218550">
                                            <I>
                                                <IMG alt="分享" src="~/Content/B/oshr.png">分享
                                            </I>
                                        </A> <A title="顶一下" id="recommend_add"
                                                onmouseover="this.title = $('recommendv_add').innerHTML + ' 人支持'" onclick="showWindow('login', this.href)"
                                                href="http://www.tdnd.cn/forum.php?mod=misc&amp;action=recommend&amp;do=add&amp;tid=218550&amp;hash=be2be25b">
                                            <I>
                                                <IMG alt="支持" src="~/Content/B/rec_add.gif">支持<SPAN id="recommendv_add" style="display: none;">0</SPAN>
                                            </I>
                                        </A>
                                        <A title="踩一下" id="recommend_subtract" onmouseover="this.title = $('recommendv_subtract').innerHTML + ' 人反对'"
                                           onclick="showWindow('login', this.href)" href="http://www.tdnd.cn/forum.php?mod=misc&amp;action=recommend&amp;do=subtract&amp;tid=218550&amp;hash=be2be25b">
                                            <I>
                                                <IMG alt="反对" src="~/Content/B/rec_subtract.gif">反对<SPAN id="recommendv_subtract"
                                                                                                         style="display: none;">0</SPAN>
                                            </I>
                                        </A>
                                    </DIV>
                                </TD>
                            </TR>
                            <TR id="_postposition371067"></TR>
                            <TR>
                                <TD class="pls"></TD>
                                <TD class="plc" style="overflow: visible;">
                                    <DIV class="po hin">
                                        <DIV class="pob cl">
                                            <EM>
                                                <A class="fastre" onclick="showWindow('reply', this.href)"
                                                   href="http://www.tdnd.cn/forum.php?mod=post&amp;action=reply&amp;fid=51&amp;tid=218550&amp;reppost=371067&amp;extra=page%3D1&amp;page=1">回复</A>
                                            </EM>
                                            <P>
                                                <A class="showmenu" id="mgc_post_371067" onmouseover="showMenu(this.id)"
                                                   href="javascript:;">使用道具</A> <A onclick="showWindow('miscreport371067', 'misc.php?mod=report&amp;rtype=post&amp;rid=371067&amp;tid=218550&amp;fid=51', 'get', -1);return false;"
                                                                                   href="javascript:;">举报</A>
                                            </P>
                                            <UL class="p_pop mgcmn" id="mgc_post_371067_menu"
                                                style="display: none;"></UL>
                                            <SCRIPT type="text/javascript" reload="1">checkmgcmn('post_371067')</SCRIPT>
                                        </DIV>
                                    </DIV>
                                </TD>
                            </TR>
                            <TR class="ad">
                                <TD class="pls"></TD>
                                <TD class="plc"></TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <DIV class="pl" id="postlistreply">
                    <DIV class="viewthread_table" id="post_new"
                         style="display: none;"></DIV>
                </DIV>
            </DIV>
            <FORM name="modactions" id="modactions" method="post"
                  autocomplete="off">
                <INPUT name="formhash" type="hidden" value="be2be25b">
                <INPUT name="optgroup" type="hidden"> <INPUT name="operation" type="hidden">
                <INPUT name="listextra" type="hidden" value="page%3D1"> <INPUT name="page" type="hidden" value="1">
            </FORM>
            <DIV class="pgs mtm mbm cl">
                <SPAN class="pgb y" id="visitedforumstmp"
                      onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})">
                    <A href="http://www.tdnd.cn/forum-51-1.html">返回列表</A>
                </SPAN> <A title="发新帖" id="newspecialtmp"
                           onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"
                           onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=51')"
                           href="javascript:;"><IMG alt="发新帖" onclick="location.href='/Posts/AddPost'" src="~/Content/B/pn_post.png"></A>
            </DIV><!--[diy=diyfastposttop]-->
            <DIV class="area" id="diyfastposttop"></DIV><!--[/diy]-->
            <SCRIPT type="text/javascript">
                var postminchars = parseInt('10');
                var postmaxchars = parseInt('10000');
                var disablepostctrl = parseInt('1');
            </SCRIPT>

            <DIV class="pl bm bmw" id="f_pst">
                <FORM id="fastpostform" onsubmit="return fastpostvalidate(this)" action="forum.php?mod=post&amp;action=reply&amp;fid=51&amp;tid=218550&amp;extra=page%3D1&amp;replysubmit=yes&amp;infloat=yes&amp;handlekey=fastpost"
                      method="post" autocomplete="off">
                    <TABLE cellspacing="0" cellpadding="0">
                        <TBODY>
                            <TR>
                                <TD class="pls"></TD>
                                <TD class="plc">
                                    <SPAN id="fastpostreturn"></SPAN>
                                    <DIV class="cl">
                                        <DIV class="y" id="fastsmiliesdiv">
                                            <DIV id="fastsmiliesdiv_data">
                                                <DIV id="fastsmilies"></DIV>
                                            </DIV>
                                        </DIV>
                                        <DIV class="hasfsl" id="fastposteditor">
                                            <DIV class="tedt mtn">
                                                <DIV class="bar">
                                                    <SPAN class="y">
                                                        <A onclick="return switchAdvanceMode(this.href)"
                                                           href="http://www.tdnd.cn/forum.php?mod=post&amp;action=reply&amp;fid=51&amp;tid=218550">高级模式</A>
                                                    </SPAN>
                                                    <SCRIPT src="~/Content/B/seditor.js" type="text/javascript"></SCRIPT>

                                                    <DIV class="fpd">
                                                        <A title="文字加粗" class="fbld" href="javascript:;">B</A> 
                                                        <A title="设置文字颜色" class="fclr" id="fastpostforecolor" href="javascript:;">Color</A> 
                                                        <A title="图片" class="fmg" id="fastpostimg" href="javascript:;">Image</A> 
                                                        <A title="添加链接" class="flnk" id="fastposturl" href="javascript:;">Link</A> 
                                                        <A title="引用" class="fqt" id="fastpostquote" href="javascript:;">Quote</A> 
                                                        <A title="代码" class="fcd" id="fastpostcode" href="javascript:;">Code</A> 
                                                        <A class="fsml" id="fastpostsml" href="javascript:;">Smilies</A>
                                                    </DIV>
                                                </DIV>
                                                <DIV class="area">
                                                    <DIV class="pt hm">
                                                        您需要登录后才可以回帖 <A class="xi2" onclick="showWindow('login', this.href)"
                                                                       href="http://www.tdnd.cn/member.php?mod=logging&amp;action=login">登录</A> |
                                                        <A class="xi2" href="http://www.tdnd.cn/member.php?mod=register">立即注册</A>
                                                        <A href="http://www.tdnd.cn/connect.php?mod=login&amp;op=init&amp;referer=forum.php%3Fmod%3Dviewthread%26tid%3D218550%26extra%3Dpage%253D1%26page%3D1%26&amp;statfrom=login"
                                                           target="_top" rel="nofollow">
                                                            <IMG class="vm"
                                                                 src="~/Content/B/qq_login.gif">
                                                        </A>
                                                    </DIV>
                                                </DIV>
                                            </DIV>
                                        </DIV>
                                    </DIV>
                                    <DIV id="seccheck_fastpost"></DIV><INPUT name="formhash" type="hidden" value="be2be25b">
                                    <INPUT name="usesig" type="hidden">
                                    <INPUT name="subject" type="hidden" value="  ">
                                    <P class="ptm pnpost">
                                        <A class="y" href="http://www.tdnd.cn/home.php?mod=spacecp&amp;ac=credit&amp;op=rule&amp;fid=51"
                                           target="_blank">本版积分规则</A> <BUTTON name="replysubmit" tabindex="5" class="pn pnc vm"
                                                                              id="fastpostsubmit" onclick="showWindow('login', 'member.php?mod=logging&amp;action=login&amp;guestmessage=yes')"
                                                                              type="button" value="replysubmit">
                                            <STRONG>发表回复</STRONG>
                                        </BUTTON> <LABEL class="lb">
                                            <INPUT name="adddynamic" class="pc" type="checkbox"
                                                   value="1">回帖并转播
                                        </LABEL> <LABEL for="fastpostrefresh">
                                            <INPUT class="pc" id="fastpostrefresh"
                                                   type="checkbox">回帖后跳转到最后一页
                                        </LABEL>
                                        <SCRIPT type="text/javascript">if (getcookie('fastpostrefresh') == 1) { $('fastpostrefresh').checked = true; }</SCRIPT>
                                    </P>
                                </TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </FORM>
            </DIV>
            <DIV class="p_pop blk cl" id="visitedforums_menu" style="display: none;">
                <TABLE cellspacing="0" cellpadding="0">
                    <TBODY>
                        <TR>
                            <TD id="v_forums">
                                <H3 class="mbn pbn bbda xg1">浏览过的版块</H3>
                                <UL class="xl xl1">
                                    <LI><A href="http://www.tdnd.cn/forum-66-1.html">考研</A></LI>
                                    <LI>
                                        <A href="http://www.tdnd.cn/forum-44-1.html">初入农大</A>
                                    </LI>
                                </UL>
                            </TD>
                        </TR>
                    </TBODY>
                </TABLE>
            </DIV>
            <SCRIPT type="text/javascript">
                new lazyload();
            </SCRIPT>

            <SCRIPT type="text/javascript">document.onkeyup = function (e) { keyPageScroll(e, 0, 0, 'forum.php?mod=viewthread&tid=218550', 1); }</SCRIPT>
        </DIV>
        <DIV class="wp mtn">
            <!--[diy=diy3]-->
            <DIV class="area" id="diy3"></DIV><!--[/diy]-->
        </DIV>
        <SCRIPT type="text/javascript">
            function succeedhandle_followmod(url, msg, values) {
                var fObj = $('followmod_' + values['fuid']);
                if (values['type'] == 'add') {
                    fObj.innerHTML = '不收听';
                    fObj.href = 'home.php?mod=spacecp&ac=follow&op=del&fuid=' + values['fuid'];
                } else if (values['type'] == 'del') {
                    fObj.innerHTML = '收听TA';
                    fObj.href = 'home.php?mod=spacecp&ac=follow&op=add&hash=be2be25b&fuid=' + values['fuid'];
                }
            }
            fixed_avatar([371067], 1);
        </SCRIPT>
    </DIV>
    <DIV class="a_fl">
        <A href="http://www.tdnd.cn/thread-36965-1-1.html" target="_blank">
            <IMG src="~/Content/B/110446a00rjmoy0co622o0.png" border="0">
        </A><BR><A onclick="setcookie('adclose_', 1, 86400);this.parentNode.style.display='none'"
                   href="javascript:;"><IMG src="~/Content/B/ad_close.gif"></A>
    </DIV>
    <DIV class="a_cn">
        <P class="close" id="ad_corner_close" onclick="setcookie('adclose_57', 1, 86400);this.parentNode.style.display='none'">
            <A href="javascript:;"><IMG src="~/Content/B/ad_close.gif"></A>
        </P><A href="http://www.tdnd.cn/forum.php"
               target="_blank">
            <IMG src="~/Content/B/144727i7ayay8nn8bhkrwz.jpg"
                 border="0">
        </A>
    </DIV>
    <DIV class="wp cl" id="ft">
        <DIV class="y" id="flk">
            <P>
                <A title="QQ" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1690642617&amp;site=中国农业大学论坛|天地农大BBS&amp;menu=yes&amp;from=discuz"
                   target="_blank"><IMG alt="QQ" src="~/Content/B/site_qq.jpg"></A><SPAN class="pipe">|</SPAN><STRONG>
                    <A href="http://www.tdnd.cn/" target="_blank">天地农大BBS</A>
                </STRONG>
            </P>
            <P class="xs0">
                GMT+8, 2019-12-2 14:53<SPAN id="debuginfo">
                    , Processed in
                    1.038491 second(s), 19 queries .
                </SPAN>
            </P>
        </DIV>
        <DIV id="frt">
            <P>
                Powered by <STRONG>
                    <A href="http://www.discuz.net/"
                       target="_blank">Discuz!</A>
                </STRONG> <EM>X3.4</EM>
            </P>
            <P class="xs0">
                &copy; 2001-2017 <A href="http://www.comsenz.com/"
                                    target="_blank">Comsenz Inc.</A>
            </P>
        </DIV>
    </DIV>
    <DIV id="scrolltop">
        <SPAN>
            <A title="快速回复" class="replyfast" onclick="showWindow('reply', this.href)"
               href="http://www.tdnd.cn/forum.php?mod=post&amp;action=reply&amp;fid=51&amp;tid=218550&amp;extra=page%3D1&amp;page=1"><B>快速回复</B></A>
        </SPAN>
        <SPAN hidefocus="true"><A title="返回顶部" class="scrolltopa" onclick="window.scrollTo('0','0')"><B>返回顶部</B></A></SPAN>
        <SPAN><A title="返回列表" class="returnlist" hidefocus="true" href="http://www.tdnd.cn/forum-51-1.html"><B>返回列表</B></A></SPAN>
    </DIV>
    <SCRIPT type="text/javascript">_attachEvent(window, 'scroll', function () { showTopLink(); }); checkBlind();</SCRIPT>
</BODY>
</HTML>
