<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
    <META content="IE=11.0000"
          http-equiv="X-UA-Compatible">
    <META http-equiv="Content-Type" content="text/html; charset=gbk">
    <TITLE>GameLife游戏生活</TITLE>
    <META name="keywords" content="GameLife游戏论坛">
    <META name="description" content="GameLife游戏最活跃的生活社区，GameLife游戏考研论坛，最新考研资讯，最全考研真题资料分享。 ">
    <META name="GENERATOR" content="MSHTML 11.00.10570.1001">
    <META name="author" content="Discuz! Team and Comsenz UI Team">
    <META name="copyright" content="2001-2017 Comsenz Inc.">
    <META name="MSSmartTagsPreventParsing" content="True">
    <META http-equiv="MSThemeCompatible" content="Yes">
    <LINK href="~/Content/Index/style_1_common.css"
          rel="stylesheet" type="text/css">
    <LINK href="~/Content/Index/style_1_forum_index.css"
          rel="stylesheet" type="text/css">
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
    <link href="~/Content/css/Cooldog.css" rel="stylesheet" />
    <SCRIPT type="text/javascript">var STYLEID = '1', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'l2X', charset = 'gbk', discuz_uid = '0', cookiepre = 'VvWM_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'login|newthread|reply', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovL3d3dy50ZG5kLmNuL2luZGV4LnBocA==', SITEURL = 'http://www.tdnd.cn/', JSPATH = 'data/cache/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</SCRIPT>

    <SCRIPT src="~/Content/Index/common.js" type="text/javascript"></SCRIPT>

    <META name="application-name" content="GameLife游戏论坛">
    <META name="msapplication-tooltip" content="GameLife游戏论坛">
    <META name="msapplication-task" content="name=社区论坛;action-uri=http://www.tdnd.cn/forum.php;icon-uri=http://www.tdnd.cn/static/image/common/bbs.ico">
    <META name="msapplication-task" content="name=同道中人;action-uri=http://www.tdnd.cn/group.php;icon-uri=http://www.tdnd.cn/static/image/common/group.ico">
    <META name="msapplication-task" content="name=家园;action-uri=http://www.tdnd.cn/home.php;icon-uri=http://www.tdnd.cn/static/image/common/home.ico">
    <LINK title="GameLife游戏论坛" href="http://www.tdnd.cn/archiver/" rel="archives">
    <SCRIPT src="~/Content/Index/forum.js" type="text/javascript"></SCRIPT>
    <script src="~/Content/js/Cooldog.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
</HEAD>
<body class="pg_index" id="nv_forum" onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="p_pop blk" id="qmenu_menu" style="display: none;">
        <div class="btda" id="fjump_menu"></div>
    </div>
    <div id="hd">
        <div class="wp">
            <div class="hdc cl">
                <a title="好客游戏论坛|天地农大BBS" href="http://www.tdnd.cn/">
                    <img alt="游戏生活" src="/Content/Index/QQ%e5%9b%be%e7%89%8720191204092257.png" style="width:100%" height="300" border="0">
                </a>
            </div>
            <div id="nv">
                <ul>
                    <li class="a" id="mn_forum">
                        <a title="BBS" hidefocus="true" href="/HomePage/Index" target="myframe">主页<span>主页</span></a>
                    </li>
                    @*@foreach (var item in ViewBag.GameType)
                    {
                        <li id="mn_N67f5">
                            <a hidefocus="true" href="@item.Url">@item.GName</a>
                        </li>
                    }*@
                    <li id="mn_S11">
                        <a class="xi2" style="color: aqua; font-weight: bold;" hidefocus="true" href="">登录</a>
                    </li>
                    <li id="mn_N76E">
                        <a class="xi2 xw1" style="color:  brown; font-weight: bold;" hidefocus="true" href="">注册</a>
                    </li>
                </ul>
            </div>
            <div class="p_pop h_pop" id="mn_userapp_menu" style="display: none;"></div>
            <div class="cl" id="mu"></div>
            <div class="a_mu">
                <style>

                    .nav_bd {
                        width: 960px;
                        height: 63px;
                        margin: 0 auto;
                        background: url(http://www.tianhong.jp/thimg/daohangbeijing.png) no-repeat;
                        overflow: hidden;
                    }

                    .nav_bd_ul {
                        margin: 7px 0px 0 7px;
                        float: left;
                        width: 960px;
                    }

                        .nav_bd_ul li {
                            height: 25px;
                            width: 94px;
                            line-height: 25px;
                            border-left: 1px dashed #ccc;
                            float: left;
                        }

                            .nav_bd_ul li a {
                                font-size: 13px;
                                color: #0099CC;
                                display: block;
                                width: 60px;
                                height: 25px;
                                background: url(http://www.tianhong.jp/thimg/5.png) no-repeat 10px 9px;
                                padding: 0 13px 0 19px;
                                text-decoration: none;
                            }

                                .nav_bd_ul li a:hover {
                                    background: url(http://www.tianhong.jp/thimg/6.gif) no-repeat 5px center;
                                    color: #FF0066;
                                    text-decoration: none;
                                }
                </style>

                <div class="scbar_narrow cl" id="scbar">
                    <form id="scbar_form" onsubmit="searchFocus($('scbar_txt'))" action="search.php?searchsubmit=yes" method="post" target="_blank" autocomplete="off">
                        <input name="mod" id="scbar_mod" type="hidden" value="search">
                        <input name="formhash" type="hidden" value="be2be25b">
                        <input name="srchtype" type="hidden" value="title"> <input name="srhfid" type="hidden">
                        <input name="srhlocality" type="hidden" value="forum::index">
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="scbar_icon_td"></td>
                                    <td class="scbar_txt_td">
                                        <input name="srchtxt" id="scbar_txt" type="text" value="请输入搜索内容" autocomplete="off" speech="" x-webkit-speech="">
                                    </td>
                                    <td class="scbar_type_td">
                                        <a class="xg1" id="scbar_type" hidefocus="true" onclick="showMenu(this.id)" href="javascript:;">搜索</a>
                                    </td>
                                    <td class="scbar_btn_td">
                                        <button name="searchsubmit" class="pn pnc" id="scbar_btn" type="submit" value="true" sc="1">
                                            <strong class="xi2">搜索</strong>
                                        </button>
                                    </td>
                                    <td class="scbar_hot_td">
                                        <div id="scbar_hot">
                                            <strong class="xw1">热搜: </strong>
                                            <a class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">英雄皮肤</a>
                                            <a class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%C9%FA%CE%EF%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">英雄装备</a>
                                            <a class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%D6%B2%CE%EF%B1%A3%BB%A4&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">最新战绩</a>
                                            <a class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=806%C9%FA%CE%EF%BB%AF%D1%A7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">打野内战</a>
                                            <a class="xi2" href="http://www.tdnd.cn/search.php?mod=forum&amp;srchtxt=%CA%B3%C6%B7&amp;formhash=be2be25b&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" sc="1">FPX夺冠</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        @RenderBody()
    </div>
</body>
</HTML>