
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery可关闭图片层叠轮播代码 - 站长素材</title>
    <link href="~/Content/css/Cooldog.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
</head>
<body>
    <div class="Cooldog_container">
        <div class="Cooldog_content">
            <ul>
                <li class="p3">
                    <a href="#">
                        <img alt="" src="~/Content/images/1.png">
                    </a>
                </li>
                <li class="p4">
                    <a href="#">
                        <img alt="" src="~/Content/images/2.png">
                    </a>
                </li>
                <li class="p5">
                    <a href="#">
                        <img alt="" src="~/Content/images/3.png">
                    </a>
                </li>
                <li class="p6">
                    <a href="#">
                        <img alt="" src="~/Content/images/4.png">
                    </a>
                </li>
                <li class="p7">
                    <a href="#">
                        <img alt="" src="~/Content/images/5.png">
                    </a>
                </li>
                <li class="p1">
                    <a href="#">
                        <img alt="" src="~/Content/images/6.png">
                    </a>
                </li>
                <li class="p2">
                    <a href="#">
                        <img alt="" src="~/Content/images/7.png">
                    </a>
                </li>
            </ul>
        </div>
        <a class="btn_left" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou"></i>
        </a>
        <a class="btn_right" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
        </a>
        <a class="btn_close" style="display: none;" href="javascript:;">
            <i class="iconfont icon-icon-test"></i>
        </a>
        <div class="buttons clearfix">
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a class="color" href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
        </div>
    </div>
    <DIV class="wp" id="wp">
        <DIV class="bm cl" id="pt">
            <DIV class="z">
                <A title="首页" class="nvhm"
                   href="http://www.tdnd.cn/">好客游戏论坛|天地农大BBS</A><EM>&raquo;</EM><A href="http://www.tdnd.cn/forum.php">社区论坛</A>
            </DIV>
            <DIV class="z">
                <IFRAME width="280" height="25" id="connectlike" src="~/Content/Index/like.htm"
                        border="0" frameborder="0" scrolling="no" allowtransparency="true"></IFRAME>
                <SCRIPT type="text/javascript">_attachEvent(window, 'load', function () { $('connectlike').src = 'api/connect/like.php'; }, document);</SCRIPT>
            </DIV>
        </DIV>
        <STYLE id="diy_style" type="text/css"></STYLE>

        <DIV class="wp">
            <!--[diy=diy1]-->
            <DIV class="area" id="diy1"></DIV><!--[/diy]-->
        </DIV>
        <DIV class="wp cl" id="ct">
            <DIV class="bm bw0 cl" id="chart">
                <P class="chart z">
                    今日: <EM>2</EM><SPAN class="pipe">|</SPAN>昨日: <EM>3</EM><SPAN class="pipe">|</SPAN>帖子: <EM>198125</EM><SPAN class="pipe">|</SPAN>会员:
                    <EM>59715</EM><SPAN class="pipe">|</SPAN>欢迎新会员: <EM>
                        <A class="xi2" href="http://www.tdnd.cn/space-username-%CC%C6%BC%AA%D8%BC.html"
                           target="_blank">唐吉丶</A>
                    </EM>
                </P>
                <DIV class="y"><A title="最新回复" class="xi2" href="http://www.tdnd.cn/forum.php?mod=guide&amp;view=new">最新回复</A></DIV>
            </DIV><!--[diy=diy_chart]-->
            <DIV class="area" id="diy_chart"></DIV><!--[/diy]-->
            <DIV class="mn">
                <!-- index four grid -->
                <!-- index four grid end -->
                <DIV class="bm">
                    <DIV class="bm_h cl">
                        <H2>社区论坛热点</H2>
                    </DIV>
                    <DIV class="bm_c cl">
                        <DIV class="heat z">
                            <DL class="xld">
                                <DT>
                                    <A class="xi2" href="http://www.tdnd.cn/thread-270902-1-1.html" target="_blank">
                                        科大讯飞2020届A.iflyer校园招聘
                                        京津冀补招岗位
                                    </A>
                                </DT>
                                <DD>
                                    一、关于讯飞科大讯飞（股票002230）是一家专注于智能语音及人工智能领域技术研究，产品研发与服务的国家级高新技术企业。公司在语音合成、语音识别、口语评测、自然语言处理、机器翻译、人工智能等核心技术上代表世
                                    ...
                                </DD>
                            </DL>
                        </DIV>
                        <UL class="xl xl1 heatl"></UL>
                    </DIV>
                </DIV>
                <DIV class="fl bm">
                    <DIV class="bm bmw  flg cl">
                        <DIV class="bm_h cl">
                            <SPAN class="o">
                                <IMG title="收起/展开" id="category_1_img"
                                     onclick="toggle_collapse('category_1');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </SPAN> <SPAN class="y">
                                分区版主: <A class="notabs" href="http://www.tdnd.cn/space-username-%C3%CE%CB%BC%B7%C9%D1%EF.html"
                                         c="1">梦思飞扬</A>, <A class="notabs" href="http://www.tdnd.cn/space-username-%CB%DE%BA%EA%C0%DA.html"
                                                            c="1">宿宏磊</A>
                            </SPAN>
                            <H2>
                                <A style="color: rgb(0, 102, 0);"
                                   href="http://www.tdnd.cn/forum.php?gid=1">★【大型游戏】</A>
                            </H2>
                        </DIV>
                        <DIV class="bm_c" id="category_1">
                            <TABLE class="fl_tb" cellspacing="0" cellpadding="0">
                                <TBODY>
                                    @for (int i = 0; i < ViewBag.count; i++)
                                    {
                                        <TR class="fl_row">
                                            @for (int j = 0; j < 2; j++)
                                            {
                                                <TD width="49.9%" class="fl_g">
                                                    @foreach (var item in ViewBag.Plate)
                                                    {
                                                        if (item.)
                                                        {

                                                        }
                                                        <DIV class="fl_icn_g" style="width: 50px;">
                                                            <A href="http://www.tdnd.cn/forum-45-1.html">
                                                                <IMG align="left" alt="" src="~/Content/Index/common_45_icon.png">
                                                            </A>
                                                        </DIV>
                                                        <DL style="margin-left: 50px;">
                                                            <DT><A href="http://www.tdnd.cn/forum-45-1.html">穿越火线</A></DT>
                                                            <DD><EM>主题: 260</EM>, <EM>帖数: 483</EM></DD>
                                                            <DD>
                                                                <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=247790&amp;goto=lastpost#lastpost">免费的论文查重网站</A>
                                                                <CITE>2019-5-4 17:35 <A href="http://www.tdnd.cn/space-username-haojiong.html">haojiong</A></CITE>
                                                            </DD>
                                                        </DL>
                                                    }
                                                </TD>
                                            }
                                        </TR>
                                    }
                                </TBODY>
                            </TABLE>
                        </DIV>
                    </DIV>
                    <DIV class="bm bmw  flg cl">
                        <DIV class="bm_h cl">
                            <SPAN class="o">
                                <IMG title="收起/展开" id="category_113_img"
                                     onclick="toggle_collapse('category_113');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </SPAN> <SPAN class="y">
                                分区版主: <A class="notabs" href="http://www.tdnd.cn/space-username-Galaxy.html"
                                         c="1">Galaxy</A>
                            </SPAN>
                            <H2><A style="color: rgb(255, 0, 0);" href="http://www.tdnd.cn/forum.php?gid=113">★★【土地学人】——好客游戏[中国土地政策与法律研究中心]</A></H2>
                        </DIV>
                        <DIV class="bm_c" id="category_113">
                            <TABLE class="fl_tb" cellspacing="0" cellpadding="0">
                                <TBODY>
                                    <TR>
                                        <TD width="32.9%" class="fl_g">
                                            <DIV class="fl_icn_g" style="width: 50px;">
                                                <A href="http://www.tdnd.cn/forum-117-1.html">
                                                    <IMG align="left" alt="" src="~/Content/Index/common_117_icon.jpg">
                                                </A>
                                            </DIV>
                                            <DL style="margin-left: 50px;">
                                                <DT><A href="http://www.tdnd.cn/forum-117-1.html">土地学人</A></DT>
                                                <DD><EM>主题: 57</EM>, <EM>帖数: 89</EM></DD>
                                                <DD>
                                                    <A href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=225381&amp;goto=lastpost#lastpost">
                                                        最后发表:
                                                        2018-10-11 11:52
                                                    </A>
                                                </DD>
                                            </DL>
                                        </TD>
                                        <TD width="32.9%">&nbsp;</TD>
                                        <TD width="32.9%">&nbsp;</TD>
                                    </TR>
                                </TBODY>
                            </TABLE>
                        </DIV>
                    </DIV>
                    <DIV class="bm bmw  flg cl">
                        <DIV class="bm_h cl">
                            <SPAN class="o">
                                <IMG title="收起/展开" id="category_42_img"
                                     onclick="toggle_collapse('category_42');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </SPAN> <SPAN class="y">
                                分区版主: <A class="notabs" href="http://www.tdnd.cn/space-username-%E4%B8%E4%B8%C1%F7%CB%AE.html"
                                         c="1">涓涓流水</A>
                            </SPAN>
                            <H2><A style="color: rgb(102, 51, 0);" href="http://www.tdnd.cn/forum.php?gid=42">【毕业之后】</A></H2>
                        </DIV>
                        <DIV class="bm_c" id="category_42">
                            <TABLE class="fl_tb" cellspacing="0" cellpadding="0">
                                <TBODY>
                                    <TR>
                                        <TD width="49.9%" class="fl_g">
                                            <DIV class="fl_icn_g" style="width: 50px;">
                                                <A href="http://www.tdnd.cn/forum-88-1.html">
                                                    <IMG align="left" alt="" src="~/Content/Index/common_88_icon.png">
                                                </A>
                                            </DIV>
                                            <DL style="margin-left: 50px;">
                                                <DT><A href="http://www.tdnd.cn/forum-88-1.html">上班</A></DT>
                                                <DD><EM>主题: 57</EM>, <EM>帖数: 115</EM></DD>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=218474&amp;goto=lastpost#lastpost">毕业后有评职称的吗？</A>
                                                    <CITE>2018-1-2 10:00 <A href="http://www.tdnd.cn/space-username-%CD%C1%C4%BE%C4%BE%C4%BE.html">土木木木</A></CITE>
                                                </DD>
                                            </DL>
                                        </TD>
                                        <TD width="49.9%" class="fl_g">
                                            <DIV class="fl_icn_g" style="width: 50px;">
                                                <A href="http://www.tdnd.cn/forum-92-1.html">
                                                    <IMG align="left" alt="" src="~/Content/Index/common_92_icon.png">
                                                </A>
                                            </DIV>
                                            <DL style="margin-left: 50px;">
                                                <DT><A href="http://www.tdnd.cn/forum-92-1.html">创业</A></DT>
                                                <DD><EM>主题: 115</EM>, <EM>帖数: 168</EM></DD>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=254204&amp;goto=lastpost#lastpost">有想做社区团购创业的小伙伴吗</A>
                                                    <CITE>2019-5-30 23:48 <A href="http://www.tdnd.cn/space-username-oulianwei.html">oulianwei</A></CITE>
                                                </DD>
                                            </DL>
                                        </TD>
                                    </TR>
                                </TBODY>
                            </TABLE>
                        </DIV>
                    </DIV>
                    <DIV class="bm bmw  flg cl">
                        <DIV class="bm_h cl">
                            <SPAN class="o">
                                <IMG title="收起/展开" id="category_43_img"
                                     onclick="toggle_collapse('category_43');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </SPAN>
                            <H2><A style="color: rgb(153, 51, 153);" href="http://www.tdnd.cn/forum.php?gid=43">&#10033;【论坛事务】</A></H2>
                        </DIV>
                        <DIV class="bm_c" id="category_43">
                            <TABLE class="fl_tb" cellspacing="0" cellpadding="0">
                                <TBODY>
                                    <TR>
                                        <TD width="49.9%" class="fl_g">
                                            <DIV class="fl_icn_g" style="width: 50px;">
                                                <A href="http://www.tdnd.cn/forum-93-1.html">
                                                    <IMG align="left" alt="" src="~/Content/Index/common_93_icon.jpg">
                                                </A>
                                            </DIV>
                                            <DL style="margin-left: 50px;">
                                                <DT><A href="http://www.tdnd.cn/forum-93-1.html">站务管理</A></DT>
                                                <DD><EM>主题: 35</EM>, <EM>帖数: 293</EM></DD>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=36965&amp;goto=lastpost#lastpost">站内资源导航帖</A>
                                                    <CITE>2019-7-28 21:09 <A href="http://www.tdnd.cn/space-username-xiaoxinxin.html">xiaoxinxin</A></CITE>
                                                </DD>
                                            </DL>
                                        </TD>
                                        <TD width="49.9%" class="fl_g">
                                            <DIV class="fl_icn_g" style="width: 50px;">
                                                <A href="http://www.tdnd.cn/forum-94-1.html">
                                                    <IMG align="left" alt="" src="~/Content/Index/common_94_icon.gif">
                                                </A>
                                            </DIV>
                                            <DL style="margin-left: 50px;">
                                                <DT><A href="http://www.tdnd.cn/forum-94-1.html">每日签到</A></DT>
                                                <DD><EM>主题: 3114</EM>, <EM>帖数: <SPAN title="83266">8万</SPAN></EM></DD>
                                                <DD>
                                                    <A class="xi2" href="http://www.tdnd.cn/forum.php?mod=redirect&amp;tid=226796&amp;goto=lastpost#lastpost">旋挖钻机施工原理</A>
                                                    <CITE>2018-8-14 14:47 <A href="http://www.tdnd.cn/space-username-funnyhour.html">funnyhour</A></CITE>
                                                </DD>
                                            </DL>
                                        </TD>
                                    </TR>
                                </TBODY>
                            </TABLE>
                        </DIV>
                    </DIV>
                </DIV>
                <DIV class="wp mtn">
                    <!--[diy=diy3]-->
                    <DIV class="area" id="diy3"></DIV><!--[/diy]-->
                </DIV>
                <DIV class="bm oll" id="online">
                    <DIV class="bm_h">
                        <SPAN class="o">
                            <A title="收起/展开" href="http://www.tdnd.cn/forum.php?showoldetails=no#online">
                                <IMG alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </A>
                        </SPAN>
                        <H3>
                            <STRONG><A href="http://www.tdnd.cn/home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</A></STRONG>
                            <SPAN class="xs1">
                                - <STRONG>55</STRONG> 人在线 - <STRONG>1</STRONG>
                                会员(<STRONG>0</STRONG> 隐身), <STRONG>54</STRONG> 位游客 - 最高记录是 <STRONG>2969</STRONG>
                                于 <STRONG>2017-9-20</STRONG>.
                            </SPAN>
                        </H3>
                    </DIV>
                    <DL class="bm_c" id="onlinelist">
                        <DT class="ptm pbm bbda">
                            <IMG src="~/Content/Index/online_admin.gif">
                            管理员 &nbsp; &nbsp; &nbsp; <IMG src="~/Content/Index/online_supermod.gif">
                            超级版主 &nbsp; &nbsp; &nbsp; <IMG src="~/Content/Index/online_moderator.gif">
                            版主 &nbsp; &nbsp; &nbsp; <IMG src="~/Content/Index/online_member.gif">
                            会员 &nbsp; &nbsp; &nbsp; <IMG src=""> 等待【邮箱验证】会员 &nbsp; &nbsp; &nbsp;
                        </DT>
                        <DD class="ptm pbm">
                            <UL class="cl">
                                <LI title="时间: 10:48">
                                    <IMG alt="icon" src="~/Content/Index/online_member.gif">
                                    <A href="http://www.tdnd.cn/space-uid-64861.html">heheda</A>
                                </LI>
                            </UL>
                        </DD>
                    </DL>
                </DIV>

            </DIV>
        </DIV>
        <SCRIPT>fixed_top_nv();</SCRIPT>
    </DIV>



    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/Cooldog.js"></script>
</body>
</html>
