
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("GetFile", "HomePage",FormMethod.Post,new { @enctype = "multipart/form-data" }))
{
<input type="file" name="Path" value="" />
<input type="submit" value="上传" />
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery可关闭图片层叠轮播代码 - 站长素材</title>
    <link href="~/Content/css/Cooldog.css" rel="stylesheet" />
    <link href="~/Content/css/iconfont.css" rel="stylesheet" />
</head>
<body>
    <div class="Cooldog_container">
        <div class="Cooldog_content">
            <ul>
                @foreach (var item in ViewBag.Picture)
                {
                    <li class="p@(item.RowId)">
                        <a href="#">
                            <img alt="" src="@item.Picture">
                        </a>
                    </li>
                }
            </ul>
        </div>
        <a class="btn_left" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou"></i>
        </a>
        <a class="btn_right" style="display: none;" href="javascript:;">
            <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
        </a>
        <a class="btn_close" style="display: none;" href="javascript:;">
            <i class="iconfont icon-icon-test"></i>
        </a>
        <div class="buttons clearfix">
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a class="color" href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
        </div>
    </div>
    <DIV class="wp" id="wp">
        <DIV class="bm cl" id="pt">
            <DIV class="z">
                <A title="首页" class="nvhm"
                   href="http://www.tdnd.cn/">好客游戏论坛|天地农大BBS</A><EM>&raquo;</EM><A href="http://www.tdnd.cn/forum.php">社区论坛</A>
            </DIV>
            <DIV class="z">
                <IFRAME width="280" height="25" id="connectlike" src="~/Content/Index/like.htm"
                        border="0" frameborder="0" scrolling="no" allowtransparency="true"></IFRAME>
                <SCRIPT type="text/javascript">_attachEvent(window, 'load', function () { $('connectlike').src = 'api/connect/like.php'; }, document);</SCRIPT>
            </DIV>
        </DIV>
        <STYLE id="diy_style" type="text/css"></STYLE>

        <DIV class="wp">
            <!--[diy=diy1]-->
            <DIV class="area" id="diy1"></DIV><!--[/diy]-->
        </DIV>
        <DIV class="wp cl" id="ct">
            <DIV class="bm bw0 cl" id="chart">
                <P class="chart z">
                    今日: <EM>2</EM><SPAN class="pipe">|</SPAN>昨日: <EM>3</EM><SPAN class="pipe">|</SPAN>帖子: <EM>198125</EM><SPAN class="pipe">|</SPAN>会员:
                    <EM>59715</EM><SPAN class="pipe">|</SPAN>欢迎新会员: <EM>
                        <A class="xi2" href="http://www.tdnd.cn/space-username-%CC%C6%BC%AA%D8%BC.html"
                           target="_blank">唐吉丶</A>
                    </EM>
                </P>
                <DIV class="y"><A title="最新回复" class="xi2" href="http://www.tdnd.cn/forum.php?mod=guide&amp;view=new">最新回复</A></DIV>
            </DIV><!--[diy=diy_chart]-->
            <DIV class="area" id="diy_chart"></DIV><!--[/diy]-->
            <DIV class="mn">
                <!-- index four grid -->
                <!-- index four grid end -->
                <DIV class="bm">
                    <DIV class="bm_h cl">
                        <H2>社区论坛热点</H2>
                    </DIV>
                    <DIV class="bm_c cl">
                        <DIV class="heat z">
                            <DL class="xld">
                                <DT>
                                    <A class="xi2" href="http://www.tdnd.cn/thread-270902-1-1.html" target="_blank">
                                        科大讯飞2020届A.iflyer校园招聘
                                        京津冀补招岗位
                                    </A>
                                </DT>
                                <DD>
                                    一、关于讯飞科大讯飞（股票002230）是一家专注于智能语音及人工智能领域技术研究，产品研发与服务的国家级高新技术企业。公司在语音合成、语音识别、口语评测、自然语言处理、机器翻译、人工智能等核心技术上代表世
                                    ...
                                </DD>
                            </DL>
                        </DIV>
                        <UL class="xl xl1 heatl"></UL>
                    </DIV>
                </DIV>
                <DIV class="fl bm">
                    <DIV class="bm bmw  flg cl">
                        <DIV class="bm_h cl">
                            <SPAN class="o">
                                <IMG title="收起/展开" id="category_1_img"
                                     onclick="toggle_collapse('category_1');" alt="收起/展开" src="~/Content/Index/collapsed_no.gif">
                            </SPAN> <SPAN class="y">
                                分区版主: <A class="notabs" href="http://www.tdnd.cn/space-username-%C3%CE%CB%BC%B7%C9%D1%EF.html"
                                         c="1">梦思飞扬</A>, <A class="notabs" href="http://www.tdnd.cn/space-username-%CB%DE%BA%EA%C0%DA.html"
                                                            c="1">宿宏磊</A>
                            </SPAN>
                            <H2>
                                <A style="color: rgb(0, 102, 0);"
                                   href="http://www.tdnd.cn/forum.php?gid=1">★【大型游戏】</A>
                            </H2>
                        </DIV>
