@model ModelInfo.PlateInfo

@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
<table class="table table-bordered">
    <tr>
        <td>板块ID:</td>
        <td><input type="text" name="PId" value="" /></td>
    </tr>
    <tr>
        <td>板块名称:</td>
        <td><input type="text" name="PName" value="" /></td>
    </tr>
    <tr>
        <td>游戏分类</td>
        <td><input type="text" name="GId" value="" /></td>
    </tr>
    <tr>
        <td>板块图</td>
        <td><input type="text" name="PImage" value="" /></td>
    </tr>
    <tr>
        <td>状态</td>
        <td>
            <input type="radio" name="PState" checked="@(Model.PState==0?true:false)" value="0" />禁用
            <input type="radio" name="PState" checked="@(Model.PState==1?true:false)" value="1" />启用
        </td>
    </tr>
    <tr>
        <td>帖子数</td>
        <td><input type="text" name="FLag" value="" /></td>
    </tr>
    <tr>
        <td>标识列</td>
        <td><input type="text" name="RowId" value="" /></td>
    </tr>
    <tr>
        <td>版主</td>
        <td><input type="text" name="UId" value="" /></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="name" value="提交" class="btn btn-info" /></td>
    </tr>
</table>
}