@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm("PlateAdd","Admin",FormMethod.Post,new { @enctype = "multipart/form-data" }))
{
    <table class="table table-bordered">
        <tr>
            <td>板块名称:</td>
            <td><input type="text" name="PName" value="" /></td>
        </tr>
        <tr>
            <td>游戏分类:</td>
            <td>@Html.DropDownList("GId", ViewBag.listG as SelectList, "--请选择--")</td>
        </tr>
        <tr>
            <td>板块图标:</td>
            <td>
                <input type="file" name="Path" value="" />
            </td>
        </tr>
        <tr>
            <td>状态:</td>
            <td>
                <input type="radio" name="PState" value="1" />启用
                <input type="radio" name="PState" checked="checked" value="0" />禁用
            </td>
        </tr>
        <tr>
            <td>版主:</td>
            <td>@Html.DropDownList("UId", ViewBag.listU as SelectList, "--请选择--")</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn btn-info" value="添加" />
                <input type="button" class="btn btn-info" onclick="location.href='/Admin/PlateIndex'" value="返回" />
            </td>
        </tr>
    </table>
}