@model ModelInfo.GameType

@{
    Layout = null;
}


@using (Html.BeginForm())
{
<table class="table table-bordered">
    <tr>
        <td>游戏ID</td>
        <td><input type="text" name="GId" value="" /></td>
    </tr>
    <tr>
        <td>游戏名称</td>
        <td><input type="text" name="GName" value="" /></td>
    </tr>
    <tr>
        <td>状态</td>
        <td>
            <input type="radio" name="GState" checked="@(Model.GState==0?true:false)" value="禁用" />禁用
            <input type="radio" name="GState" checked="@(Model.GState==1?true:false)" value="启用" />启用
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="name" value="提交" class="btn btn-info" /></td>
    </tr>
</table>
}