
@{
    ViewBag.Title = "Index";
}
@model List<ModelInfo.Pictures>
<h2>Index</h2>

<table>
    <thead>
        <tr>
            <td>图片编号</td>
            <td>帖子ID</td>
            <td>图片</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.PId</td>
                <td>@m.PostId</td>
                <td>
                    <img src="@m.Picture" alt="Alternate Text" style="width:60px;height:60px" />
                </td>0
            </tr>
        }
    </tbody>
</table>